html {
  font-family: "Unica One", sans-serif;
}

h1 {
  top: 188px;
  left: 80px;
  z-index: 1;
  color: #fff;
  animation: oppacity 1s linear forwards;
  opacity: 0;
}

#narwhal-body {
  stroke-dasharray: 1981.415px;
  stroke-dashoffset: 1981.415px;
  animation: offset 1s linear forwards;
}

#narwhal-eye {
  animation: oppacity 1s linear forwards;
  opacity: 0;
}

#rainbow-red {
  stroke-dasharray: 1243.044px;
  stroke-dashoffset: 1243.044px;
  animation: offset 1s linear forwards;
}

#rainbow-orange {
  stroke-dasharray: 1366.26px;
  stroke-dashoffset: 1366.26px;
  animation: offset 1s linear forwards;
}

#rainbow-yellow {
  stroke-dasharray: 1483.352px;
  stroke-dashoffset: 1483.352px;
  animation: offset 1s linear forwards;
}

#rainbow-green {
  stroke-dasharray: 1596.043px;
  stroke-dashoffset: 1596.043px;
  animation: offset 1s linear forwards;
}

#rainbow-blue {
  stroke-dasharray: 1705.479px;
  stroke-dashoffset: 1705.479px;
  animation: offset 1s linear forwards;
}

#rainbow-indigo {
  stroke-dasharray: 1812.502px;
  stroke-dashoffset: 1812.502px;
  animation: offset 1s linear forwards;
}

#rainbow-violet {
  stroke-dasharray: 1917.692px;
  stroke-dashoffset: 1917.692px;
  animation: offset 1s linear forwards;
}

@keyframes offset {

  to {
    stroke-dashoffset: 0;
  }

}

@keyframes oppacity {

  0% {
    opacity: 0;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}
